.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-container.active {
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333d3;
}

.modal-trigger {
  cursor: pointer;
}

.modal {
  width: 630px;
  min-width: 300px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal h3 {
  font-size: 26px;
  margin-top: 20px;
}

.add-photo,
.btn-new-photo {
  border-radius: 60px;
  color: white;
  font-weight: bold;
  background-color: #1d6154;
  border: none;
}

/******STEP 1******/
.modal .step-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  background: #fff;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.photo {
  border-bottom: 2px solid #b3b3b3;
  padding: 20px 0px;
  width: 420px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.photo img {
  width: 77px;
  height: 103px;
}

.photo-container {
  position: relative;
  display: inline-block;
}

.photo-container img {
  display: block;
}

.photo-container .trash-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
  padding: 5px;
}

.add-photo {
  width: 237px;
  height: 36px;
  margin-top: 40px;
  font-size: 14px;
}

/******STEP 2******/
.modal .step-two {
  display: none;
  flex-direction: column;
}

.back-step {
  padding: 8px 10px;
  border: none;
  background: #fff;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.step-two-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 47px;
}

.add-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 36px 0 30px 0;
  width: 420px;
  height: 169px;
  background: #e8f1f6;
  border-radius: 3px;
}

.add-img img {
  max-width: 50%;
  max-height: 100%;
}

.add-img input {
  display: none;
}

.add-img i {
  font-size: 76px;
  color: #b9c5cc;
  padding-top: 15px;
}

.add-img button {
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #c8d6dc;
  color: #306685;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.add-img p {
  color: #444;
  text-align: center;
  font-family: "Work Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.step-two-body form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.step-two-body label {
  margin: 20px 0 10px 0;
}
.step-two-body input,
select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.step-two-foot {
  text-align: center;
  padding-top: 30px;
}

.btn-new-photo:disabled {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #a7a7a7;
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.btn-new-photo {
  width: 237px;
  height: 36px;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
}
